.nav {
  height: 88px;
  width: 100%;
  background-image: url(../../images/LoginBox.png);
  background-size: cover;
  background-position: relative;
  border-bottom: 2px solid black;
  color: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.land-logo {
  margin-left: 15px;
  width: 265px;
  height: 61px;
}

.nav-options {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
}

.nav-option {
  margin: 15px;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 700;
}

.login-btn {
  font-size: 22px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  font-weight: 700;
  width: 110px;
  border-radius: 20px;
  border: none;
}

.sign-btn {
  font-size: 20px;
  background-color: black;
  color: #273660;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 42px;
  font-weight: 600;
  width: 110px;
  border-radius: 20px;
  border: none;
  padding: 9px;
  padding-bottom: 4px;
  padding-top: 4px;
}

#landnav-sign-txt {
  font-size: inherit;
  font-weight: inherit;
  color: #f3f0bf;
}

.nav-option:hover {
  cursor: pointer;
  scale: 1.05;
}

.nav button:hover {
  cursor: pointer;
  scale: 1.03;
}

.nav-opt-section {
  display: flex;
  flex-direction: row;
}

.land-nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-left-nav {
  display: inherit;
  justify-content: center;
  align-items: center;
}
