.grammar-outer {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/YellowBG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -20% 10%;
  background-size: 100vmax 100%;
  align-items: center;
  justify-content: center;
}

.grammar-nav button {
  margin: 8px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.grammar-nav button:hover {
  scale: 1.03;
  filter: saturate(140%);
}

.grammar-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 3rem;
}

.grammar {
  margin-top: -65px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.upload-button {
  width: 200px;
  height: 30px;
  background-color: #caad73;
}

.content-btn-1 {
  width: 60px;
  height: 30px;
  background-color: #b48a38;
}

.content-btn-2 {
  width: 80px;
  height: 30px;
  background-color: #b48a38;
}

.checker-section {
  margin-top: 5%;
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grammar-box {
  line-height: 150%;
  width: 95%;
  resize: none;
  height: 100%;
  margin: 20px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #caad73;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input:focus,
textarea {
  outline: none;
}

.grammar-box::placeholder {
  font-weight: 500;
}

.grammar-submit-btn {
  border-radius: 20px;
  width: 80px;
  height: 40px;
  border: none;
  color: white;
  background-color: #b48a38;
}

.grammar-submit-btn:hover {
  cursor: pointer;
  scale: 1.03;
  filter: saturate(130%);
}

.checker-header {
  width: 92%;
  display: flex;
  justify-content: flex-end;
  color: gray;
  margin-bottom: -5px;
}
