* {
  font-size: 17px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-boxSU {
  display: flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./images/LoginBox.png");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 370px;
}
.logoSU {
  margin-bottom: 15px;
}
.form-groupSU {
  margin: 15px;
}
.form-fieldSU {
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 0.5px #fff;
  cursor: pointer;
}

.login-text {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

textarea {
  resize: none;
}

.login-box {
  margin-top: 25px;
  height: 80px;
  width: 360px;
  border-radius: 20px;
  color: white;
  background-color: #273660;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-text:hover {
  cursor: pointer;
  background-color: #9e721a;
}

.center-boxLI {
  display: flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./images/LoginBox.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 370px;
}
.logoLI {
  margin-top: 60px;
  margin-bottom: 25px;
}
.form-groupLI {
  margin: 9px;
}
.form-fieldLI {
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.submit-btnLI {
  width: 260px;
  border: none;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  margin-top: 30px;
  color: white;
  border: 2px #273660;
  background-color: #273660;
}
.submit-btnLI:hover {
  cursor: pointer;
  background-color: #1e2a4b;
}
.signup-box {
  margin-top: 25px;
  height: 80px;
  width: 360px;
  border-radius: 20px;
  color: white;
  background-color: #b48b38;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-text {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.signup-text:hover {
  cursor: pointer;
  background-color: #9e721a;
}

.logoL {
  /*logo for loading page*/
  width: 330px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.main {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  width: 100%;
}

.logoBS {
  width: 180px;
  height: auto;
  vertical-align: middle;
  padding-left: 2rem;
}
ul.a {
  list-style-type: none;
  background-color: none;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
}
li.a {
  display: inline;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.submit-btnNB {
  width: 120px;
  border: none;
  height: 30px;
  border-radius: 20px;
  vertical-align: middle;
  padding-right: 2rem;
  color: #000;
  background-color: transparent;
}
.submit-btnNB:hover {
  cursor: pointer;
  font-weight: 600;
}
/* unvisited link */
#myprojects a:link,
#myprojects a:visited {
  color: #000;
}
#myprojects a:hover,
#myprojects a:active {
  color: #000;
  font-weight: 600;
}
#sheets a:link,
#sheets a:visited {
  color: #8e210c;
}
#sheets a:hover,
#sheets a:active {
  color: #8e210c;
  font-weight: 600;
}
#grammarchecker a:link,
#grammarchecker a:visited {
  color: #9e721a;
}
#grammarchecker a:hover,
#grammarchecker a:active {
  color: #9e721a;
  font-weight: 600;
}
#writingtips a:link,
#writingtips a:visited {
  color: #273660;
}
#writingtips a:hover,
#writingtips a:active {
  color: #273660;
  font-weight: 600;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
}

nav.sub {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sNavRed {
  display: inline;
  color: #8e210c;
  margin-left: 1rem;
}
hr.redSolid {
  margin-top: 0.4rem;
  min-width: 95%;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: 1px solid #8e210c;
}
.redButton {
  border: none;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 2rem;
  color: white;
  background-color: #8e210c;
}

.redButton:hover {
  cursor: pointer;
}

.rightBtn {
  text-align: right;
}

/*THE TEXT STYLE BAR*/
nav.textStyle {
  color: #8e210c;
  float: right;
  text-align: center;
  background-color: #e4cbc7;
  width: 3rem;
  border-radius: 10px;
}
ul.b {
  list-style: none;
}
.textStyleBtn {
  background-color: #fff;
  color: #8e210c;
  border-radius: 50px;
  border: none;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.textStyleBtn:hover {
  background-color: #fcf4f2;
}
.textStyleBtn:focus {
  background-color: #8e210c;
  color: #fff;
}
#N {
  margin-top: 10px;
}
#B {
  font-weight: bold;
}
#I {
  font-style: italic;
  padding-left: 22%;
  padding-right: 22%;
}
#U {
  text-decoration: underline;
  margin-bottom: 10px;
}

/*NEW BLANK SHEET*/
.parentNBS {
  text-align: center;
  margin-top: 1rem;
  height: 90%;
}
.child1NBS {
  display: inline-block;
  width: 25%;
  height: 90%;
}
.child2NBS {
  display: inline-block;
  width: 75%;
  height: 90%;
}
.formBS {
  width: 100%;
  height: 100%;
}
.blankSheet {
  margin-left: 10px;
  float: left;
  width: 70%;
  height: 100%;
  padding: 1.5%;
  border: none;
  box-shadow: 5px 5px 10px #ebdfdd;
  font-family: sans-serif;
}

/*CHARACTER LOG*/
.parentCL {
  margin-top: 2rem;
  text-align: center;
}
table.charaLog {
  margin: auto;
  width: 75%;
  height: 90%;
  background-color: #f1e7e5;
  border-radius: 10px;
}
tr,
td {
  padding: 0.8%;
}
.titlesCL {
  font-weight: bold;
  color: #8e210c;
}
.form-fieldCLstory {
  border: 1px solid #dbc7c3;
  border-radius: 20px;
  padding: 2%;
  padding-left: 3%;
}
.detailCL {
  width: 45%;
}
.form-fieldCL {
  border: none;
  text-align: left;
  padding: 2%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  font-family: sans-serif;
}

/*AT HOME WITH YOUR CHARACTER*/
.parentAH {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
table.atHome {
  margin: auto;
  width: 75%;
  height: 90%;
  background-color: #f1e7e5;
  border-radius: 10px;
}
tr,
td {
  padding: 1%;
}
.titlesAH {
  font-weight: bold;
  color: #8e210c;
}
.questionsCL {
  width: 150px;
  font-weight: bold;
  color: #8e210c;
  padding-right: 9%;
}
.form-fieldAH {
  border: none;
  text-align: left;
  padding: 2%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  font-family: sans-serif;
}

/*WRITING TIPS*/
.parentWT {
  padding: 2%;
  text-align: left;
  width: 70%;
  margin: auto;
}
.imageWT {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 5%;
}
.row1WT {
  padding-top: 5%;
  display: inline;
  justify-content: space-between;
  align-items: center;
}
.row2WT {
  width: 100%;
  padding-top: 5%;
  display: inline;
  justify-content: space-between;
  align-items: left;
}
button.postWT {
  background-color: #c7cbd6;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 23px;
  border: none;
  width: 30%;
  margin: auto;
  padding: 2%;
}
span.articleWT {
  font-weight: 100;
  font-size: 14px;
}

/*BACKGROUNDS FOR EVERYTHING*/
.bgRedGray {
  background-image: url("./images/RedGrayBG.png");
  background-size: cover;
  background-repeat: repeat;
  height: 150vh;
}
.bgRedWhite {
  background-image: url("./images/RedWhiteBG.png");
  background-size: cover;
  background-repeat: repeat;
  height: 150vh;
}

.bgBlue {
  background-image: url("./images/BlueBG.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}

.bgRainbowWhite {
  background-image: url("./images/rainbowWhiteBG.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
