.outer {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-box {
  display: flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../../images/formbackground.png);
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 370px;
}

.form-group {
  margin: 25px;
}

.form-field {
  padding: 5px;
  width: 250px;
  border-radius: 15px;
  border: 0.5px solid black;
  cursor: pointer;
}

.submit-btn {
  width: 250px;
  border: none;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
  color: white;
  background-color: #b48a38;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #a78134;
}

.login-box {
  margin-top: 25px;
  height: 96px;
  width: 360px;
  border-radius: 20px;
  color: white;
  background-color: #273660;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  font-weight: 500;
}

.login-text {
  font-style: italic;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
