.outer {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.center-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(../../images/LoginBox.png);
  background-size: cover;
  background-position: center;
  height: 560px;
  width: 420px;
}

.form-group {
  margin: 15px;
}

.form-field {
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 250px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.submit-btnSU {
  width: 250px;
  border: none;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
  color: white;
  background-color: #273660;
}

.submit-btnSU:hover {
  cursor: pointer;
  background-color: #1e2a4b;
}

.login-box {
  margin-top: 25px;
  height: 96px;
  width: 360px;
  border-radius: 20px;
  color: white;
  background-color: #b48a38;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  font-weight: 500;
}

.login-text {
  font-style: italic;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.logo {
  margin-top: 60px;
  margin-bottom: 25px;
}
