.project-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-form-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
}

.proj-form-group {
  display: flex;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-field {
  width: 260px;
  height: 70px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

.proj-inner-form {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  background-image: url("../../images/formbackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.proj-form-btn {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.proj-form-btn:hover {
  scale: 1.05;
  border: none;
}
