.landing-section {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 90%;
  margin-top: 0px;
  background: transparent;
  background-color: transparent;
}

.landing-section-main {
  margin-top: 88px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 90%;
  background: transparent;
  background-color: transparent;
}

.landing-outer-div {
  display: flex;
  background-image: url(../../images/LoginBox.png);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.img-box {
  width: 450px;
  height: 500px;
  background-color: gray;
}

.img-box-2 {
  width: 80%;
  height: 50%;
  background-color: gray;
}

.main-info {
  color: black;
  font-weight: 800;
  font-size: 44px;
  text-align: left;
}

.supporting-info {
  margin-top: 25px;
  color: black;
  font-size: 32px;
  font-weight: 600;
}

.supporting-info-main {
  margin-top: 35px;
  width: 90%;
  color: black;
  font-size: 32px;
  font-weight: 600;
}

.landing-sign-btn {
  font-size: 22px;
  background-color: #273660;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 57px;
  font-weight: 600;
  width: 181px;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
}

.landing-sign-btn-main {
  font-size: 22px;
  background-color: black;
  color: #fce8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 57px;
  font-weight: 600;
  width: 181px;
  border-radius: 20px;
  border: none;
  margin-top: 45px;
}

.landing-sign-btn-main:hover {
  scale: 1.03;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 50%) 0px 1px 40px;
  filter: brightness(110%);
}

.landing-sign-btn:hover {
  background-color: #1e2a4b;
  scale: 1.03;
  cursor: pointer;
}

.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 100%;
}

.main-info-1 {
  color: black;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
}

#gradient-transparent {
  font-size: inherit;
  font-weight: inherit;
  color: transparent;
  background-image: url(../../images/LoginBox.png);
  background-size: contain;
  background-clip: text;
  color: white;
}

.landing-section-2 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 90%;
  margin-top: 20vh;
  background: transparent;
  background-color: transparent;
}

.content-2 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

.main-info-2 {
  color: black;
  font-weight: 800;
  font-size: 58px;
  text-align: center;
}

.supporting-info-2 {
  margin-top: 25px;
  margin-top: 35px;
  width: 90%;
  color: black;
  font-size: 38px;
  font-weight: 600;
}
